.navigation {
  background-color: $pkdark;
  width: 100px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 17px 19.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;

  &__brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    pointer-events: all;

    &-text {
      text-align: center;
      color: $pklight;
      font-size: 1rem;
      line-height: 1.21875rem;
      font-weight: 700;
      transition: color 0.3s ease-out;
    }

    &-icon {
      & svg {
        & path {
          transition: fill 0.3s ease-out;
        }
      }
    }

    &:hover {
      & .navigation__brand-icon {
        & svg {
          & path {
            fill: $pkaccent;
          }
        }
      }
      & .navigation__brand-text {
        color: $pkaccent;
      }
    }

    &-line {
      background-color: $pklight;
      height: 3px;
      width: calc(100% - 1px);
      border-radius: 5px;
      pointer-events: none;
      margin-top: 1rem;
    }
  }
  &__line {
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: $pklight;
    height: 3px;
    width: calc(100% - 1px);
    border-radius: 5px;
  }

  &__wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    overflow-y: scroll;
    overflow-x: hidden;
    overscroll-behavior-inline: contain;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
    scrollbar-width: 0;

    &::-webkit-scrollbar {
      display: none;
    }

    &-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      pointer-events: all;

      &-text {
        text-align: center;
        color: $pklight;
        font-size: 0.8rem;
        line-height: 1.21875rem;
        font-weight: 700;
        transition: color 0.3s ease-out;
      }

      &-icon {
        & svg {
          & path {
            transition: fill 0.3s ease-out;
          }
        }
      }
      &:hover {
        & .navigation__wrapper-link-icon {
          & svg {
            & path {
              fill: $pkaccent;
            }
          }
        }
        & .navigation__wrapper-link-text {
          color: $pkaccent;
        }
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    pointer-events: all;

    &-text {
      text-align: center;
      color: $pklight;
      font-size: 1rem;
      line-height: 1.21875rem;
      font-weight: 700;
      transition: color 0.3s ease-out;
    }

    &-icon {
      & svg {
        & path {
          transition: fill 0.3s ease-out;
        }
      }
    }

    &:hover {
      & .navigation__info-icon {
        & svg {
          & path {
            fill: $pkaccent;
          }
        }
      }
      & .navigation__info-text {
        color: $pkaccent;
      }
    }

    &-line {
      background-color: $pklight;
      height: 3px;
      width: calc(100% - 1px);
      border-radius: 5px;
      pointer-events: none;
      margin-bottom: 1rem;
    }
  }

  & .router-link-active {
    & .navigation__info-text,
    .navigation__wrapper-link-text,
    .navigation__brand-text {
      color: $pkaccent;
    }

    & svg {
      & path {
        fill: $pkaccent;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .navigation {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    flex-direction: row;
    align-items: center;
    background-color: unset;

    &__brand {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $pkdark;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      margin-left: 1rem;
      &-line {
        display: none;
      }
      &-text {
        display: none;
      }
    }
    &__wrapper {
      flex-direction: row;
      overflow-x: scroll;
      overflow-y: hidden;
      margin: 0;
      column-gap: 2rem;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: $pkdark;
      padding: 1rem;
      &-link {
        &-text {
          display: none;
        }
      }
    }
    &__info {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $pkdark;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      margin-right: 1rem;
      &-line {
        display: none;
      }
      &-text {
        display: none;
      }
    }
  }
}
