.navigation {
  background-color: $pkdark;
  width: 100px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 17px 19.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    text-align: center;
    color: $pklight;
    font-size: 1rem;
    line-height: 1.21875rem;
    font-weight: 700;
    transition: color 0.3s ease-out;

    & svg {
      & path {
        transition: fill 0.3s ease-out;
      }
    }

    &:hover {
      color: $pkaccent;

      & svg {
        & path {
          fill: $pkaccent;
        }
      }
    }

    &-line {
      background-color: $pklight;
      height: 3px;
      width: calc(100% - 1px);
      border-radius: 5px;
      pointer-events: none;
      margin-top: 1rem;
    }
  }
  &__line {
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: $pklight;
    height: 3px;
    width: calc(100% - 1px);
    border-radius: 5px;
  }

  &__wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    overflow-y: scroll;
    overflow-x: hidden;
    overscroll-behavior-inline: contain;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
    scrollbar-width: 0;

    &::-webkit-scrollbar {
      display: none;
    }

    &-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: $pklight;
      font-size: 0.8rem;
      line-height: 1.21875rem;
      font-weight: 700;
      transition: color 0.3s ease-out;
      & svg {
        & path {
          transition: fill 0.3s ease-out;
        }
      }
      &:hover {
        color: $pkaccent;

        & svg {
          & path {
            fill: $pkaccent;
          }
        }
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    text-align: center;
    color: $pklight;
    font-size: 1rem;
    line-height: 1.21875rem;
    font-weight: 700;
    transition: color 0.3s ease-out;

    & svg {
      & path {
        transition: fill 0.3s ease-out;
      }
    }

    &:hover {
      color: $pkaccent;

      & svg {
        & path {
          fill: $pkaccent;
        }
      }
    }

    &-line {
      background-color: $pklight;
      height: 3px;
      width: calc(100% - 1px);
      border-radius: 5px;
      pointer-events: none;
      margin-bottom: 1rem;
    }
  }

  & .router-link-active {
    color: $pkaccent;

    & svg {
      & path {
        fill: $pkaccent;
      }
    }
  }
}
